.__markdown__ {
  color: #4d4d4d;
  white-space: pre-wrap;
  display: block;
  line-height: 26px;
}
.__markdown__ blockquote {
  width: 100%;
  display: inline;
  background-color: #eef0f4;
  font-size: 14px;
  color: #333;
  padding: 16px;
  box-sizing: border-box;
  border-left: 8px solid #dddfe4;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
}
.__markdown__ h1 {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown__ h2 {
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown__ h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown__ h4 {
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown__ h5 {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown__ h6 {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown__ .plain {
  color: rgba(54, 30, 30, 0.28);
}
.__markdown__ .splitLine {
  color: #999;
}
.__markdown__ .img {
  display: inline;
}
.__markdown__ .img .text {
  width: 100%;
  display: inline-block;
}
.__markdown__ .img img {
  width: 100%;
}
.__markdown__ .section {
  width: 100%;
  line-height: 26px;
  min-height: 26px;
  white-space: pre-wrap;
  display: inline-block;
}
.__markdown__ .section.reference {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #666;
  padding: 5px 10px;
  box-sizing: border-box;
  border-left: solid 5px #ccc;
}
.__markdown__ pre {
  display: inline-block;
  width: 100%;
}
.__markdown__ code {
  color: #eee;
  width: 100%;
  background-color: #1E1E1E;
  line-height: 22px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 14px;
  white-space: pre-wrap;
  display: inline-block;
}
.__markdown__ cite {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-style: normal;
}
.__markdown__ .del {
  font-size: 10px;
  font-weight: bold;
  color: #999;
}
.__markdown__ del {
  font-size: 14px;
}
.__markdown__ ul,
.__markdown__ ol {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 10px 0;
}
.__markdown__ ul li,
.__markdown__ ol li {
  display: inline-block;
  width: 100%;
  min-height: 30px;
}
.__markdown__ ul li span,
.__markdown__ ol li span {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}
.__markdown__ strong span,
.__markdown__ i span,
.__markdown__ del span {
  color: #999;
  font-weight: 400;
}
.__markdown_result__ {
  color: #4d4d4d;
  line-height: 26px;
}
.__markdown_result__ blockquote {
  width: 100%;
  background-color: #eef0f4;
  font-size: 14px;
  color: #333;
  padding: 16px;
  box-sizing: border-box;
  border-left: 8px solid #dddfe4;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
}
.__markdown_result__ h1 {
  font-weight: normal;
  font-size: 24px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown_result__ h2 {
  font-weight: normal;
  font-size: 22px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown_result__ h3 {
  font-weight: normal;
  font-size: 20px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown_result__ h4 {
  font-weight: normal;
  font-size: 18px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown_result__ h5 {
  font-weight: normal;
  font-size: 16px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown_result__ h6 {
  font-weight: normal;
  font-size: 16px;
  color: #4f4f4f;
  margin: 8px 0 16px;
}
.__markdown_result__ p {
  margin: 0;
  min-height: 26px;
}
.__markdown_result__ hr {
  border-style: none;
  height: 1px;
  background-color: #eee;
}
.__markdown_result__ cite {
  color: #c7254e;
  background-color: antiquewhite;
  padding: 0 5px;
  font-size: 14px;
  font-style: normal;
}
.__markdown_result__ a {
  color: #4ea1db;
  text-decoration: none;
}
.__markdown_result__ code {
  line-height: 22px;
  display: block;
  background-color: #1E1E1E;
  color: #eee;
  padding: 10px;
  box-sizing: border-box;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 14px;
  white-space: pre-wrap;
}
.__markdown_result__ img {
  width: 100%;
}
.__markdown_result__ ul {
  width: 100%;
  padding-left: 30px;
  margin: 10px 0;
  box-sizing: border-box;
}
.__markdown_result__ ul li {
  width: 100%;
  position: relative;
  min-height: 30px;
}
.__markdown_result__ ul li span {
  color: #999;
  font-weight: bold;
}
.__markdown_result__ ol {
  width: 100%;
  padding-left: 30px;
  margin: 10px 0;
  box-sizing: border-box;
}
.__markdown_result__ ol li {
  width: 100%;
  position: relative;
  min-height: 30px;
  box-sizing: border-box;
}
.__markdown_result__ ol li span {
  color: #999;
  font-weight: bold;
}
