.__markdown__{color:#4d4d4d;white-space:pre-wrap;display:block;line-height:26px;word-break:break-all;
    blockquote{width:100%;display:inline;background-color:#eef0f4;font-size:14px;color:#333;padding:16px;box-sizing:border-box;border-left:8px solid #dddfe4;display:inline-block;margin:0;margin-bottom:15px;}
    h1{display:inline-block;font-weight:600;font-size:24px;color:#4f4f4f;margin:8px 0 16px}
    h2{display:inline-block;font-weight:600;font-size:22px;color:#4f4f4f;margin:8px 0 16px}
    h3{display:inline-block;font-weight:600;font-size:20px;color:#4f4f4f;margin:8px 0 16px}
    h4{display:inline-block;font-weight:600;font-size:18px;color:#4f4f4f;margin:8px 0 16px}
    h5{display:inline-block;font-weight:600;font-size:16px;color:#4f4f4f;margin:8px 0 16px}
    h6{display:inline-block;font-weight:600;font-size:16px;color:#4f4f4f;margin:8px 0 16px}
    .plain{color:rgba(54,30,30,.28)}
    .splitLine{color:#999;margin:15px 0;}
    .img{display:inline;
        .text{width:100%;display:inline-block;white-space:wrap;word-break: break-all;}
        img{width:100%}
    }

    .section{width:100%;line-height:26px;min-height:26px;white-space:pre-wrap;display:inline-block}
    .section.reference{background-color:#f0f0f0;font-size:14px;color:#666;padding:5px 10px;box-sizing:border-box;border-left:solid 5px #ccc}
    pre{display:inline-block;width:100%;}
    code{color:#eee;width:100%;background-color:#1E1E1E;line-height:22px;display:inline-block;padding:10px;box-sizing:border-box;font-family:Consolas, 'Courier New', monospace;font-size:14px;white-space:pre-wrap;display:inline-block;word-break:break-word;}
    cite{background-color:rgba(0,0,0,.05);font-size:14px;font-style:normal}

    .del{font-size:10px;font-weight:bold;color:#999}
    del{font-size:14px;}

    ul,ol{display:inline-block;width:100%;margin:0;padding:0;margin:10px 0;
        li{display:inline-block;width:100%;min-height:30px;
            span{color:#999;font-weight:bold;font-size:14px;}
        }
    }

    strong span,i span,del span{color:#999;font-weight:400}
    
}

.__markdown_result__{color:#4d4d4d;line-height:26px;white-space:pre-wrap;word-break:break-all;
    blockquote{width:100%;background-color:#eef0f4;font-size:14px;color:#333;padding:16px;box-sizing:border-box;border-left:8px solid #dddfe4;display:inline-block;margin:0;margin-bottom:15px;}
    h1{font-weight:600;font-size:24px;color:#4f4f4f;margin:8px 0 16px}
    h2{font-weight:600;font-size:22px;color:#4f4f4f;margin:8px 0 16px}
    h3{font-weight:600;font-size:20px;color:#4f4f4f;margin:8px 0 16px}
    h4{font-weight:600;font-size:18px;color:#4f4f4f;margin:8px 0 16px}
    h5{font-weight:600;font-size:16px;color:#4f4f4f;margin:8px 0 16px}
    h6{font-weight:600;font-size:16px;color:#4f4f4f;margin:8px 0 16px}
    p{margin:0;min-height:26px}
    hr{border-style:none;height:1px;background-color:#eee;margin:15px 0;}
    cite{color:#c7254e;background-color:antiquewhite;padding:0 5px;font-size:14px;font-style:normal}
    a{color:#4ea1db;text-decoration:none;}
    code{line-height:22px;display:block;background-color:#1E1E1E;color:#eee;padding:10px;box-sizing:border-box;font-family:Consolas, 'Courier New', monospace;font-size:14px;white-space:pre-wrap;word-break:break-word;}
    img{width:100%}

    ul{width:100%;padding-left:30px;margin:10px 0;box-sizing:border-box;
        li{width:100%;position:relative;min-height:30px;
            span{color:#999;font-weight:bold;}
        }
    }

    ol{width:100%;padding-left:30px;margin:10px 0;box-sizing:border-box;
        li{width:100%;position:relative;min-height:30px;box-sizing:border-box;
            span{color:#999;font-weight:bold;}
        }
    }
}

.__catalog__{padding:0;margin:0;list-style:none;
    li{font-size:14px;line-height:30px;}
    li._level2_{padding-left:5px;}
    li._level3_{padding-left:10px;}
    li._level4_{padding-left:15px;}
    li._level5_{padding-left:20px;}
    li._level6_{padding-left:25px}
}